/*======== IMPORTAR FONTES ==========*/
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400&display=swap');
/*======= IMPORTAR ARQUIVOS SCSS =======*/
@import './colors';
@import './functions';




*{
    padding: 0;
    margin: 0;
}

body{
    background: #1A1A1A; 
    font-family: 'Yantramanav', sans-serif;
}

.container{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
}



/* ===== PG1 ===== */

.header__logo img{
    width: 60px;
    height: auto;
    padding-left:16px;
    margin-top: 16px;
}


.banner{

    margin: 0 20px;

    &__conteudo{
        text-align:center;
    }

    &__conteudo h1{
        font-size:40.5px;
        color: #FFFFFF;
        font-weight:400;
        letter-spacing: 0.85px;
        text-transform:capitalize;
        line-height: 60px;
    }

    &__conteudo p{
        padding-top: 30px;
        color: #B5B5B5;
        font-size:14px;
        font-weight: 300;
        letter-spacing: 0px;
        line-height:26px;
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        align-items: center;
        padding-bottom: 18vh;

        &-btn{
            @include btn_interesse();
        }
        &-btn:last-child{
            @include btn_comprar();
        }
    }
}


/* ======= HEADER/BANNER DESKTOP ========*/

@media (min-width: 768px){

    .header{

        &__logo img{
            margin-top: 27px;
            padding-left: 43px;
            width: 116px;
            height: 95px;
            margin-bottom: 150px;
        }
        
    }

    .banner{

        margin: 0 150px;

        &__conteudo h1{
            font-size: 60px;;
        }

        &__conteudo p{
            font-size: 20px;
            margin: 0 auto;
            width: 450px;
            margin-top: 20px;
        }

        &__buttons{
            display: flex;
            flex-direction: ROW;
            justify-content: space-between;
            margin: 0 auto;
            padding-top: 110px;
            width:370px;
        }
        
    }

}

/* === AJUSTE BANNER P/ DESK > 1440  ==== */

@media (min-width: 1440px){
    
    .banner{
        margin: 0 calc((100% - 800px) /2);
    }
}

/* ============= FIM PG1 ==============*/

/* ============= PG2 ==================*/

#pg2{
    background:#2c2c2c4f;
}

.intro{

    &__square{
        width: 111px;
        height:105px;
        border: 1px solid #FEC024;
        position:absolute;
        background: none;
        border-top: none;
        margin-left: 10px;
    }

    &__txt{
        margin: 0 20px;
        margin-top: 30px;
    }

    &__txt h1{
        font-size: 48px;
        color: #fff;
        letter-spacing:1.01px;
        font-weight: 500;
        width: 30px;
        line-height:70px;
        padding-top: 40px;
    }

    &__txt p {
        text-align: left;;
        color: #B5B5B5;
        font-size:13.5px;
        line-height:24px;
        font-weight: 300;
        padding-top: 10px;
    }

    &__txt p span{
        font-weight: bold;
    }

    &__listbox{
        display: flex;
        flex-direction:column;
        align-items:center;
        padding-top: 50px; 
    }
    &__box{
        width: 253px;
        height: 271px;
        background: none;
        border: 1px solid #6E6E6E;
        border-radius: 5px;
        margin-top: 20px;

        &--conteudo h5{
            color:$amarelo;
            padding: 0 24px;
            text-transform: uppercase;
            font-weight: bold;
            font-size:14px;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }

        &--conteudo p{
            color: #B5B5B5;
            padding: 0 24px;
            line-height: 28px;
            font-size: 16px;
            font-weight:bold;
        }

    }

    &__img img{
        width: 99px;
        height: 96px;
        align-items: center;
        padding: 16px 72px;
    }

    &__btn{
        @include btn_interesse();
        margin-bottom: 0;
        margin-top:50px;
    }
    &__btn:last-child{
        @include btn_comprar();
        margin-top:30px;
    }

}