@mixin btn_interesse{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size:14px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 169px;
    height: 56px;
    margin-bottom: 25px;
    font-weight: bold;
    background: black;
}

@mixin btn_comprar {
    border: $laranja;
    background: $laranja;
}


@mixin margem{
    margin: 0 10px;

    @media (min-width:1000px){
        margin-right: 0 30px;
        margin-left: 0 30px;
    }
    @media (min-width:1200px){
        margin-right: 0 50px;
        margin-left: 0 50px;
    }
    @media (min-width:1440px){
        margin-right: calc((100%-1200px)/2);
        margin-left: calc((100%-1200px)/2);
    }
}


@mixin square{
    width: 111px;
    height:105px;
    border: 1px solid $laranja;
    position:absolute;
    background: none;
    border-top: none;
    margin-left: 10px;
}