/*======== IMPORTAR FONTES ==========*/
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400&display=swap');
/*======= IMPORTAR ARQUIVOS SCSS =======*/
@import './colors';
@import './functions';




*{
    padding: 0;
    margin: 0;
}

body{
    background: #1A1A1A; 
    font-family: 'Yantramanav', sans-serif;
}

.container{
    @include margem();
}



/* ===== PG1 ===== */

.header__logo img{
    width: 60px;
    height: auto;
    padding-left:16px;
    margin-top: 16px;
}


.banner{

    margin: 0 20px;

    &__conteudo{
        text-align:center;
    }

    &__conteudo h1{
        font-size:40.5px;
        color: #FFFFFF;
        font-weight:400;
        letter-spacing: 0.85px;
        text-transform:capitalize;
        line-height: 60px;
    }

    &__conteudo p{
        padding-top: 30px;
        color: #B5B5B5;
        font-size:14px;
        font-weight: 300;
        letter-spacing: 0px;
        line-height:26px;
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        align-items: center;
        padding-bottom: 18vh;

        &-btn{
            @include btn_interesse();
        }
        &-btn:last-child{
            @include btn_comprar();
        }
    }
}


/* ======= HEADER/BANNER DESKTOP ========*/

@media (min-width: 768px){

    .header{

        &__logo img{
            margin-top: 27px;
            padding-left: 43px;
            width: 116px;
            height: 95px;
            margin-bottom: 150px;
        }
        
    }

    .banner{

        margin: 0 150px;

        &__conteudo h1{
            font-size: 60px;;
        }

        &__conteudo p{
            font-size: 20px;
            margin: 0 auto;
            width: 450px;
            margin-top: 20px;
        }

        &__buttons{
            display: flex;
            flex-direction: ROW;
            justify-content: space-between;
            margin: 0 auto;
            padding-top: 110px;
            width:370px;
        }
        
    }

}

/* === AJUSTE BANNER P/ DESK > 1440  ==== */

@media (min-width: 1440px){
    
    .banner{
        margin: 0 calc((100% - 800px) /2);
    }
}

/* ================== FIM PG1 =========================*/

/* ==================== PG2 ==========================*/

#pg2{
    background:#2c2c2c4f;
}

.intro{
    margin-bottom: 50px;
    &__square{
        @include square();
    }

    &__txt{
        margin: 0 20px;

    }

    &__txt h1{
        font-size: 48px;
        color: #fff;
        letter-spacing:1.01px;
        font-weight: 500;
        width: 30px;
        line-height:70px;
        padding-top: 40px;
    }

    &__txt p {
        text-align: left;;
        color: #B5B5B5;
        font-size:13.5px;
        line-height:24px;
        font-weight: 300;
        padding-top: 10px;
    }

    &__txt p span{
        font-weight: bold;
    }

    &__listbox{
        display: flex;
        flex-direction:column;
        align-items:center;
        padding-top: 50px; 
    }
    &__box{
        width: 253px;
        height: 271px;
        background: none;
        border: 1px solid #6E6E6E;
        border-radius: 5px;
        margin-top: 20px;

        &--conteudo h5{
            color:$laranja;
            padding: 0 24px;
            text-transform: uppercase;
            font-weight: bold;
            font-size:14px;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }

        &--conteudo p{
            color: #B5B5B5;
            padding: 0 24px;
            line-height: 28px;
            font-size: 16px;
            font-weight:bold;
        }

    }

    &__img img{
        width: 99px;
        height: 96px;
        align-items: center;
        padding: 16px 72px;
    }

    &__btn{
        @include btn_interesse();
        margin-bottom: 0;
        margin-top:50px;
    }
    &__btn:last-child{
        @include btn_comprar();
        margin-top:20px;
    }

    &__buttons--mobile{
        display:flex;
        flex-direction:column;
    }
    &__buttons--desktop{
        display:none;
    }

    padding-bottom: 50px;
}

/* =============== PG2 DESKTOP =========== */
@media (min-width:1100px){

    .intro{
        display: flex;

        &__square{
            @include square_desktop();
        }

        &__txt h1{
            font-size:64px;
            padding-left: 65px;
            padding-top: 120px;
            letter-spacing: 1.34px;
            line-height: 90px;
        }

        &__txt p{
            width:350px;
            font-size: 18px;
            line-height:28px;
            padding-left: 65px;
        }

        &__buttons--mobile{
            display:none;
        }

        &__buttons--desktop{
            display:block;
            margin-left: 50px;
            padding-top: 50px;
        }

        &__btn:last-child{
            margin-left:20px;
        }

        &__preco {
            color: #B5B5B5;
            font-size:16px;
            font-weight: bold;
    
            padding-left: 195px;
            position: absolute;
            padding-top:30px;
        }

        &__listbox{
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 40px;;
            margin-top: 40px;
            padding-bottom: 75px;
        }

        &__box{
            width: 253px;
            height: 271px;
            margin-right: 50px;
            margin-bottom: 30px;
        }
    }


}

/* === AJUSTE PG2 P/ DESK > 1440  ==== */

@media (min-width: 1440px){
    
    .intro{
        margin: 40px calc((100% - 1200px) /2);
    }
}


@media (min-width:768) and (max-width:1100){
    .intro__listbox{
        flex-direction: row;
    }
}


/* ========================= FIM PG 2 ============================*/

/*========================== INICIO PG 3=========================*/


.MakeCourse{
   
    &__box1{

        margin-top: -50px;
        width: 100%;
        height:297px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/bg.svg");

        &__conteudo{
            margin: 0 40px;
            text-align:center;
            padding-top: 45px;
        }
        &__conteudo h3{
            color: rgb(255, 255, 255);
            font-size: 40.5px;
            text-transform: capitalize;
            font-weight:normal;
        }

    }

    &__box2{
        width: 100%;
        height: 250px;
        background-color: $laranja;

        &__conteudo{
            align-items:center;
            text-align: center; 
            padding: 45px 0;
            
            & h2{
                font-size:48px;
                font-weight: 500;
                color: #fff;
                margin-bottom: 24px;
            }
        }
    }

    &__btn{
        width: 203px;
        height: 56px;
        border-radius: 5px;
        background: #fff;
        border: none;
        color: $laranja;
        font-size:14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}


/*==================== PG 3 DESKTOP ==============*/

@media (min-width:768px){
    .MakeCourse{

        margin-top: -50px;
        display:flex;
        justify-content: flex-end;

        &__box1{
            margin-top: 0;
            height:372px;

            &__conteudo{
                width:600px;
                padding-top:85px;
                margin-left: 0px;

                & h3{
                    font-size:54px;
                    letter-spacing: 1.13px;
                }
            }
        }


        &__box2{
            position:absolute;
            width:538px;
            height:296px;
            margin: 42px 0;

            &__conteudo{
                padding: 60px 0;

                & h2{
                    font-size: 64px;
                }
            }
        }
    }
}

/* ======= AJUSTE DE TEXT0 PARA DESK COM WIDTH > 1300 ======*/
@media (min-width:1300px){
    
    .MakeCourse{
        &__box1{
            
            &__conteudo {
                width:800px;
                margin-left: calc((100% - 1350px)/2);
                padding-top: 110px;
                
            }
        }

    }

}

/* ====================== PG 4 ==================== */


.skills{
    width:100%;
    background-image: url('../../img/bgpg4.png');
    background-size: cover;

    &__square{
        @include square();
    }

    &__title{
        margin-left: 23px;
        padding-top: 40px;
        width:300px;
        
        & h2{
            color: #fff;
            font-size: 48px;
            font-weight:500;
            letter-spacing: 1px;
        }
    }

    &__list{
        padding-top: 50px;
    }        
    
    &__item{
        width: 312px;
        background-color: #686868;
        margin: 0 auto;

        &--conteudo{
            display: flex;
            justify-content: space-between;
            margin: 0 20px;
            & p{
                font-size: 18px;
                color: #fff;
                line-height:46px;
                font-weight: 200;
            }
            & img{
                width:16px;
                height: 16px;
                padding-top: 15px;
            }
        }



        &__hidden{
            
            display:none;
            scroll-behavior: smooth;
            width: 312px;
            height: 225px;
            background-color:#262626;
            border-top: 1px solid $laranja;
            border-bottom: 1px solid $laranja;

            &_txt{
                margin: 20px 20px;

                & p {
                    font-size: 18px;
                    color: #fff;
                    line-height:30px;
                    text-align: left;
                    font-weight: 300;
                    
                }
            }
        }
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        padding-top: 40px;

   
    }
     
    &__btn{
            margin: 0 auto;
            @include btn_interesse();
    }
    &__btn:last-child{
        @include btn_comprar();
    }
}

#pg4__desktop{
    display: none;
}

@media (min-width:768px){
    #pg4{
        display: none;
    }
    #pg4__desktop{
        display: block;
    }

    .skillsD{
        width:100%;
        background-image: url('../../img/bgp4D.png');
        background-size: cover;

        &__content{
            display: flex;
            flex-direction: row;
            justify-content:center;
            padding: 127px 0;


            &--list{
                & ul{
                    padding-top: 36px;
                    width: 378px;
                    background-color: #686868;
    
                    & li{
                        margin-left: 60px;
                        list-style: none;
                        color: #fff;
                        font-size: 32px;
                        font-weight:200;
                        line-height:80px;
                        &:hover{
                            font-weight: bold;
                            border-bottom: 1px solid$laranja;
                        }
    
    
                    }
                }
            }  

            &--txt{
                    width: 600px;
                    background-color: #262626;

                    & p{
                        margin: 0 115px;
                        margin-top:90px;
                        font-size: 18px;
                        color: #fff;
                        font-weight:300;
                        text-align: left;
                        
                        & span{
                            font-weight: bold;
                        }
                    }
                          
            }
        }

        &__buttons{

            display:flex;
            justify-content:space-between;
            padding-top: 25px;
            margin: 0 140px;

        }
        
        &__btn{
            background: none;
            border: none;
            font-size: 14px;
            font-weight:bold;
            color: #fff;

            &:last-child{color: $laranja;}
        }
    }


}

/* =============AJUSTANDO DIV P/ N QUEBRAR TEXTO =====*/


@media (max-width: 1000px){

    .skillsD__content{
        
        &--txt{

            & p{
                margin: 0 70px;
                margin-top:72px;
            } 
        }

    }

    .skillsD__buttons{

        padding-top: 60px;
    }
}


.teachers{

    margin-bottom: 50px;
    &__square{
       @include square();
    }
    
    &__txt{
        margin: 0 20px;
    }
    
    &__txt h1{
        font-size: 48px;
        color: #fff;
        letter-spacing:1.01px;
        font-weight: 500;
        width: 30px;
        line-height:70px;
        padding-top: 40px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 24px;
        &__box{
            margin: 0 auto;
            width: 315px;
            border: 1px solid #6E6E6E;
            border-radius: 5px;
            margin-bottom: 20px;

            & img{
                padding:24px;
            }

        &--txt{
            & h5{
                font-weight: bold;
                color: $laranja;
                margin-left: 24px;
                font-size:14px;
                letter-spacing:2px;
                width: 180px;
                text-transform: uppercase;
            }
            & p{
                padding: 24px;
                color: #B5B5B5;
                font-size:16px;
                font-weight:bold;
            }
        }
        }
        
    }

    &__buttons{
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
        padding-top: 30px;
    }

    &__btn{
        @include btn_interesse();

        &:last-child{
            @include btn_comprar();
        }
    }
    
}



/* ============ PG4 DESKTOP ============ */
@media (min-width: 768px){
    .teachers{
            margin:0 100px;


            
        &__txt h1{
            font-size: 64px;
            padding-top: 130px;
            letter-spacing: 1.34px;
            margin-left: 65px;
            line-height: 80px;
        }
        &__square{
                @include square_desktop();
        }
        &__list{
            margin-top: 70px;
            flex-direction:row;
            flex-wrap: wrap;

            &__box{
                margin: 0 auto;
                width: 363px;
                border: 1px solid #6E6E6E;
                border-radius: 5px;
                margin-bottom: 20px;

    
                & img{
                    width:315px;
                }
            }

         }
    

         &__buttons{
            justify-content: space-between;
           flex-direction: row;
            align-items: center;
           width: 380px;
           margin: 0 auto;
        }
    }   

}

@media (min-width: 1344px){
    .teachers{
        margin: 0 calc((100% - 1150px) / 2)
    }
}



.carousel{

    background-image: url('../../img/bgCarousel.png');
    background-size: cover;

    &__slider{
        position: relative;
        height: 780px;

    }

    &__slide{
        z-index: 1;
        position: absolute;
        width: 100%;
        clip-path: circle(0% at 0 50%);

        
    }

    &__slide.active{
        clip-path: circle(150% at 0 50%);
        transition: 2s;
        transition-property: clip-path;


    }

    &__btn{
        background: transparent;
          color: rgb(104, 104, 104);
        height: 12px;
        margin: 10px;
        cursor: pointer;
        font-size:30px;

    }

    &__active{
            
        color: rgb(255, 255, 255);
    
    }

    &__navigation{
        z-index: 2;
        position: absolute;
        display: flex;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 40px;
    }

    &__info{

        & h2{
            color: #fff;
            font-size: 40.5px;
            font-weight: 500;
            letter-spacing: 0.85px;
            margin: 60px 32px;
            text-align: center;
        }

        & p{
            color: #F89D24;
            text-transform: uppercase;
            margin: 0 36px;
            font-size: 18px;
            text-align: center;
            font-weight: 800;
            letter-spacing: 2.57px;
        }
      }
    
}

/*==========AJUSTES DE TAMANHO CAROUSEL=========*/
@media (min-width: 340px){.carousel__slider{height:680px;}}
@media (min-width: 405px){.carousel__slider{height:630px;}}
@media (min-width: 440px){.carousel__slider{height:580px;}}
@media (min-width: 550px){.carousel__slider{height:520px;}}
@media (min-width: 690px){.carousel__slider{height:480px;}}

@media (min-width: 768px){
    
    .carousel{
        margin-top: 30px;;
        background-image: url('../../img/bgCarouselDesk.png');
    }
    .carousel__slider{
        margin-right: 40px;
        margin-left: 40px;
    }
}


@media (min-width:1000px){
    
    .carousel{
        &__info{

            & h2{
                color: #fff;
                font-size: 55px;
                font-weight: 500;
                letter-spacing: 0.85px;
                margin-top: 200px;
                text-align: center;
            }

            & p{
                text-align: right;
                margin-right: 100px;
                font-size: 25px;
            }


    }
    
    &__navigation{
        z-index: 2;
        bottom: 180px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__slider{
        height:850px;
        margin-right: 40px;
        margin-left: 40px;
    }

    
    
    }
}



/*==========AJUSTES DE MARGEM CAROUSEL=========*/
@media (min-width:1180px){
    .carousel__slider{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (min-width:1290px){
    .carousel__slider{
        margin-left: 120px;
        margin-right: 120px;
    }
}

@media (min-width:1330px){
    .carousel__slider{
        margin-left: calc((100% - 1050px) / 2);
        margin-right: calc((100% - 1050px) / 2);
    }
}



/* ================= PG 6 ==================*/


.learn{
    &__square{
        @include square();
    }

    &__buttons{
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
        padding-top: 30px;
    }

    &__btn{
        @include btn_interesse();

        &:last-child{
            @include btn_comprar();
        }
    }

    &__txt{

        margin-left: 20px;
        margin-right: 20px;
        & h2{
            font-size: 48px;
            width: 255px;
            letter-spacing: 1.34px;
            line-height: 60px;
            color: #fff;
            font-weight: 500;
            padding-top: 43px;;
        }

        &--desc{
            padding-top:20px;
            color: #B5B5B5;
            line-height:25px;
            font-size:13.5px;
            
            & span{
                font-weight: bold;
            }
        }
        &--met{
            padding-top: 20px;
            display: flex;
            flex-direction:column;

            & h5{
                text-transform: uppercase;
                font-weight: bold;
                padding-left: 24px;
                font-size:15px;
                color: $laranja;
                margin-top:-17px;
                letter-spacing: 2px;
            }
            & p{
                color: #B5B5B5;
                font-weight: bold;
                line-height:25px;
                font-size: 16px;
                margin-left: 24px;
                margin-right:26px;
                margin-top: 10px;
                margin-bottom: 25px;
            }
        }
    }
}

.circle {
    width: 12px;
    height: 12px;
    border: 1px solid #F89D24;
    border-radius:50%;
    margin-top: 2px;
}

@media (min-width: 768px){

    .learn{

        margin:0 100px;

        &__square{
            @include square_desktop();
        }

        &__conteudo{
        }
        &__txt{
            & h2{
                font-size: 64px;
                width: 400px;
                letter-spacing: 1.34px;
                line-height: 80px;
                color: #fff;
                font-weight: 500;
                padding-top: 125px;
                margin-left: 68px;
            }

            & p{
                font-size: 18px;
            }
            &--desc{
                margin-left: 68px;
                width:500px;
            }
            &--met{
                padding-left: 70px;
                padding-top:30px;
            }
    }

}

}



@media (min-width: 1100px){

    .learn{

        &__conteudo{
            display: flex;
        }
        &__txt{

            & p{
                font-size: 18px;
            }
            &--desc{
                margin-left: 68px;
                width:700px;
            }
            &--met{
                padding-left: 150px;
                margin-top: -90px;
            }
    }

        &__buttons{
            width: 380px;
            justify-content: space-between;
            flex-direction: row;
            margin-top: -70px;
            margin-left: 90px;
        }


        padding-bottom: 120px;


}

}